.idea/copilot.data.migration.ask2agent.xml
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/simple_translation.iml
.idea/vcs.xml
__pycache__/doc_to_md_robust.cpython-312.pyc
config.ini
